.highlighted {

  border: 2px solid rgb(23, 221, 86);

  font-weight: bold;

  background: linear-gradient(to top right, #bffe36a2, #6bec47dd); /* Gradient background */
  font-family: Arial, sans-serif; 

  padding: 2px;
  border-radius: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}